/* Utilities */

.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}

.text-dark {
  color: $grey-6;
}

.text-light {
  color: $grey-1;
}

.text-thin {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.text-huge {
  font-size: 12vw;
}

strong {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.display-none {
  /* transform: translateX(-100%) !important */
  display: none;
}

.display-block {
  display: block;
}

.padding-x-extra-small {
  padding-left: 1vw;
  padding-right: 1vw;
}

.padding-x-small {
  padding-left: 4vw;
  padding-right: 4vw;
}

.padding-x-medium {
  padding-left: 6vw;
  padding-right: 6vw;
}

.padding-x-large {
  padding-left: 8vw;
  padding-right: 8vw;

  @include extra-large {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

.padding-y-extra-small {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.padding-y-small {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.padding-y-medium {
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.padding-y-large {
  padding-top: 8vw;
  padding-bottom: 8vw;
}

.margin-0 {
  margin: 0;
}

.mr-4 {
  margin-right: 4vw;
}

.mb-4 {
  margin-bottom: 4vw;
}

.mt-25 {
  margin-top: 15vh;
}

.mb-25 {
  margin-bottom: 15vh;
}

.full-vh-margin {
  margin-top: 65vh;
}

.subtitle {
  font-weight: 400;
  color: $grey-5;
}

.width-25 {
  width: 15vw !important;
}

.width-35 {
  width: 35%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.overflow-visible {
  overflow: visible;
}

.hidden {
  pointer-events: none;
  /* transition: 1s opacity 0.3s ease-out; */
  /* opacity: 0; */
}

.img-preload {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  left: -1000;
  top: -1000;
}

.visible {
  opacity: 1;
  -webkit-transition: 1s opacity 0.3s ease-out;
  transition: 1s opacity 0.3s ease-out;
}

// .show-on-scroll {
//   opacity: 0;
//   will-change: opacity;
// }

.drop-shadow {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-initial {
  pointer-events: initial !important;
}

.gradient-button {
  position: relative;
  color: $white;
  text-align: center;
  min-width: 50%;
  // max-width: 90%;

  transition: transform 0.1s ease-in;

  @include large {
    max-width: 75%;
  }

  @include extra-large {
    max-width: 50%;
  }

  &:hover {
    transform: scale(1.05);

    &::before {
      box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gradient-half;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
    transform: skew(-30deg);
    transition: box-shadow 0.1s ease-in;

    // padding: 0 1rem;
    z-index: -1;
  }
}
