@import "../base";

/* Footer */

footer {
  background-color: $grey-6;
  text-align: center;
  z-index: 1000;
}

footer .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
}

/* footer .flex h6 a { */
/* margin-left: 7vw; */
/* border-top: 2px solid white; */
/* } */

footer .flex > * {
  width: 30%;
}

/* footer .fa-file {
    margin: 2rem 0;
  } */

footer h6 {
  color: $grey-4;
}

footer h5 {
  margin: 2rem 0;
}

footer .fa-linkedin,
footer .fa-github {
  transition: 0.2s transform ease-in-out, 0.2s color ease-in-out;
  color: $grey-4;
}

footer .fa-linkedin:hover,
footer .fa-github:hover {
  transform: scale(1.15);
  color: $grey-1;
}

footer .copyright,
footer .back-to-top {
  color: $grey-3;
}

.footer-wrapper {
  padding: 2vw 10vw;
}

.footer-gradient {
  width: 100%;
  height: 25px;
}

@include small {
  footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  footer .flex h6 a {
    margin-left: 0;
  }

  footer .flex h6:first-of-type {
    -webkit-box-ordinal-group: 4;
    order: 3;
  }
}

@include medium {
  footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  footer .flex h6 a {
    margin-left: 0;
  }

  footer .flex h6:first-of-type {
    -webkit-box-ordinal-group: 4;
    order: 3;
  }
}
