@import "../base";

/* Gradient */

.gradient-half-background {
  background-image: $gradient-half;
}

.gradient-background {
  background-image: $gradient;
  background-size: 800% 800%;
  -webkit-animation-name: gradientBG;
  animation-name: gradientBG;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  will-change: auto;
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.gradient-bg-preload {
  position: absolute;
  top: -100vh;
  height: 200%;
  width: 200%;
  background: $gradient;
  z-index: -900;
}

.gradient-bg-container {
  position: relative;
  overflow: hidden;
  background: $gradient;
}
.gradient-bg:after {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 800%;
  height: 800%;
  content: "";
  background: $gradient;
  /* background-size: 800% 800%; */
  background-repeat: repeat;
  will-change: transform;
}
.gradient-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  -webkit-animation-name: gradientAnimate;
  animation-name: gradientAnimate;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform;
}

@-webkit-keyframes gradientAnimate {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-700%);
    transform: translateX(-700%);
  }
}

@keyframes gradientAnimate {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-700%);
    transform: translateX(-700%);
  }
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
