@media screen and (min-width: 1201px) {
  /* Global */

  html {
    font-size: 1.6vw;
  }

  .hide-extra-large {
    display: none;
  }

  .nav-mobile {
    display: none;
  }

  /* Background */

  .bg-svg {
    margin-top: 45vh;
    width: 100vw;
  }

  .margin-first {
    margin-top: 70vh;
  }

  /* Header */

  header.header-homepage h3.header-title {
    top: 30%;
    left: 50%;
  }

  header.header-homepage h1.header-title {
    top: 40%;
    left: 50%;
  }

  /* Homepage */

  .blurb-image {
    padding: 5vw 10vw 10vw 5vw;
    width: 40%;
  }

  .blurb-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 50%;
  }

  .blurb-links {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  /* Skills */

  .skills-icons {
    width: 35%;
  }

  .skills-text {
    width: 60%;
  }

  /* Values */

  .values-icons {
    width: 50%;
  }

  .values-text {
    width: 50%;
  }

  /* Story */

  .story-image {
    width: 30%;
    background-image: url(../images/CV-photo-bw-400.png);
    min-height: 30vw;
  }

  .story-text {
    width: 65%;
  }

  /* Cases */

  .case-view-buttons {
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 60%;
  }

  .diabetes-img {
    width: 25vw;
  }
}
