@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* @media screen and (min-width: 768px) { */

  /* Global */

  html {
    font-size: 2vw;
  }

  .hide-large {
    display: none;
  }

  .nav-mobile {
    display: none;
  }

  /* Background */

  .bg-svg {
    width: auto;
    height: 50vh;
  }

  /* Header */

  header.header-homepage h3.header-title {
    left: 45%;
  }

  header.header-homepage h1.header-title {
    left: 45%;
  }

  /* Footer */

  footer .flex {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
