@media screen and (min-width: 541px) and (max-width: 768px) {
  /* Global */

  html {
    font-size: 3vw;
  }

  .hide-medium {
    display: none;
  }

  .nav-desktop {
    display: none;
  }

  /* Background */

  section:nth-of-type(2n):after {
    background-image: url(../images/svg/polygon-bg-sharp-half.png);
  }

  section.blurb:after,
  section.homepage-cases:after {
    background-image: url(../images/svg/polygon-bg-sharp-half.png);
  }

  .hero-image {
    background-image: url(../images/hero-image-1k.jpg);
    background-size: cover;
    background-position: center bottom;
  }

  /* Header */

  header {
    height: 25vw;
  }

  header.header-homepage h3.header-title {
    top: 30%;
    left: 10%;
  }

  header.header-homepage h1.header-title {
    top: 40%;
    left: 10%;
  }

  /* Nav */

  nav.nav-mobile ul li {
    padding: 3vw 10vw;
  }

  /* Footer */

  footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  footer .flex h6 a {
    margin-left: 0;
  }

  footer .flex h6:first-of-type {
    -webkit-box-ordinal-group: 4;
    order: 3;
  }

  /* Homepage */

  section.blurb h1 {
    padding: 0 6vw;
  }

  .blurb-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
  }

  .blurb-links {
    padding: 8vw 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }

  .cases-showcase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .case {
    width: 100%;
    margin-bottom: 20vw;
  }

  /* Skills */

  section.skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .skills-icons {
    width: 70%;
    align-self: flex-start;
  }

  .skills-text {
    width: 100%;
  }

  /* Values */

  section.values {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .values-icons {
    width: 100%;
  }

  .values-text {
    width: 100%;
  }

  .values-icons:nth-of-type(2) {
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  /* Story */

  section.story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .story-image {
    background-image: url(../images/CV-photo-bw-200.png);
    background-position: center;
    height: 30vw;
    min-width: 30vw;
    margin-bottom: 4vw;
  }

  .story-text {
    width: 100%;
  }

  .portfolio-link {
    width: 100%;
  }

  /* Cases */

  section.cases {
    margin-bottom: 10vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .cases-info:nth-of-type(2) {
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .cases-info {
    width: 100%;
  }

  .cases-info a h4 {
    margin-bottom: 20vw;
  }

  .cases-image {
    height: 50vh;
    width: 100%;
  }

  .case-view-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
  }

  .diabetes-img {
    width: 100%;
  }
}
