@media screen and (max-width: 540px) {
  /* Global */

  html {
    font-size: 4.5vw;
  }

  .hide-small {
    display: none;
  }

  .nav-desktop {
    display: none;
  }

  /* Background */

  .bg-svg {
    width: auto;
    height: 65vh;
  }

  .hero-image {
    background-image: url(/assets/images/hero-image.jpg);
    background-size: cover;
    background-position: center top;
  }

  /* Header */

  header {
    height: 25vw;
  }

  header.header-homepage h3.header-title {
    top: 30%;
    left: 10%;
  }

  header.header-homepage h1.header-title {
    top: 40%;
    left: 10%;
  }

  /* Footer */

  footer .flex {
    flex-direction: column;
  }

  footer .flex a {
    margin-left: 0;
  }

  footer .flex h6:first-of-type {
    order: 3;
  }

  /* Blurb */

  .blurb-links {
    flex-direction: column;
  }

  /* Skills */

  section.skills > .flex {
    flex-direction: column;
  }

  .skills-icons {
    width: 100%;
  }

  .skills-text {
    width: 100%;
  }

  /* Story */

  section.story {
    flex-direction: column;
  }

  .story-image {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 4vw;
  }

  .story-image img {
    width: 50%;
  }

  .stroy-text {
    width: 100%;
  }
}
