/* Variables */

$white: #ffffff;
$grey-1: #fdfdff;
$grey-2: #f7f8fb;
$grey-3: #e5e7ec;
$grey-4: #bfc2ca;
$grey-5: #777a82;
$grey-6: #282b31;
$grey-7: #0f1014;
$gradient: linear-gradient(
  90deg,
  #6b2aa6,
  #543da6,
  #4a6acb,
  #42c5cd,
  #4a6acb,
  #543da6,
  #6b2aa6
);
$gradient-half: linear-gradient(90deg, #6b2aa6, #543da6, #4a6acb, #42c5cd);
$font-primary: Montserrat, "Segoe UI", sans-serif;
$font-secondary: Nunito, "Segoe UI", sans-serif;
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-2xl: 1.8rem;
$font-3xl: 2.2rem;
